# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.sqlite3
staticfiles/
media/

# Logs
*.log

# Unit test / coverage
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# pipenv
Pipfile.lock

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db

# mypy
.mypy_cache/

# local env files
.env
.env.*
